
<template>
    <!-- Trozo de html que no está pensado para enseñarlo (por defecto no se ve pero luego se puede mostrar). Podemos meter estilos dentro de un HTML y una estructura (lo que queramos y necesitemos para crearlo) -->   
    <!-- Se inyecta a través de js -->
    <style>
        div{
            background-color: bisque;
        }
        h2 {
            color: bisque;
            background-color: rgb(255, 140, 0);
        }
    </style>
    <div>
        <h2>Ejemplo de Componente</h2>
        <p>Esto es un componente</p>
    </div>
</template>
<script src="mi_componente.js"></script>
