*{
    box-sizing: border-box;
}

header,footer {
    height: 10vh;
    color: darkkhaki;
    background-color: honeydew;
    padding: 2rem;

}

body{
    margin: 0 ;
}

main {
    margin: 2rem;
    min-height: 60vh;
}