<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="import" href="mi_componente.html"> -->
    <script src="app.js" type="module"></script>
    <style>
        header h1 {font-size: 3rem}
        mi-componente {
            display: block; /* Por defecto los objetos son inline y no tienen ancho */
            width: 80%;
        }
    </style>
</head>

<body>
    <header>
        <h1>Componentes Web versión 2</h1>
    </header>
    <mi-componente></mi-componente> <!-- Aquí debería de aparecer "Soy un componente" (y sale) -->
</body>

</html>