<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="import" href="mi_componente.html"> -->
    <script src="app.js" type="module"></script>
</head>

<body>
    <header>
        <h1>Componentes Web versión 2</h1>
    </header>
    <mi-componente></mi-componente> <!-- Aquí debería de aparecer "Soy un componente" (y sale) -->
    <p>Esto está fuera del componente, directamente en el index</p>
    <p>El shadow DOM se utiliza para que el css sólo afecte al template. Aisla el código de css que afecta al HTML del componente.</p>
    
</body>
</html>